<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", root_path, class: "p-2 nav-link link-secondary " %>

  <%= link_to "About Me", about_me_path , class: "p-2 nav-link link-secondary"%>

  <%= link_to "Contact", contact_path , class: "p-2 nav-link link-secondary"%>

  <%= link_to "Blog", blogs_path, class: "p-2 nav-link link-secondary " %>

  <%= link_to "Portfolio", galleries_path, class: "p-2 nav-link link-secondary" %>

  <%= login_helper 'p-2 nav-link link-secondary' %> 
</nav>

