<%= image_tag @gallery_item.main_image %>

<h1><%= @gallery_item.title %></h1>

<em><%= @gallery_item.subtitle %></em>

<p><%= @gallery_item.body %></p>

<h2>Technologies Used:</h2>

<% @gallery_item.technologies.each do |technology| %>
  <p><%= technology.name %></p>
<% end %>